.h-100 {
    height: 100%;
}

.empty-div {
    height: 200px;
}

#expenseCards {
    position: absolute;
    top: 95px;
}

#addItem {
    position: fixed;
    right: 30px;
    bottom: 30px;
    opacity: 50%;
    color: white;
    font-size: 50px;
    padding: 5px;
    border-radius: 50%;
}
#expenseCards .fa-arrow-right {
    background-color: deeppink;
    color: white;
    font-size: 30px;
    padding: 5px;
    border-radius: 50%;
}