.h-100 {
    height: 100%;
}

.empty-div {
    height: 200px;
}

#expense-items {
    position: absolute;
    top: 95px;
}

.fa-car {
    background-color: deeppink;
    color: white;
    font-size: 30px;
    padding: 5px;
    border-radius: 50%;
}